body{
    text-align: center;
    font-family: sans-serif;
}
label{
    display: inline-block;
    width: 250px;
    padding-bottom: 1rem;
    text-align: justify;
}
h1{
    color: black;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }